[submodule "project_make"]
	path = project_make
	url = https://github.com/BeentageBand/project_make
[submodule "support/dbg_log"]
	path = support/dbg_log
	url = https://github.com/BeentageBand/dbg_log
[submodule "test/gtest_fwk"]
	path = test/gtest_fwk
	url = https://github.com/BeentageBand/gtest_fwk
